SoapWebServicesCXF/WebContent/wsdl/employeedetailsws_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.com/" version="1.0">
<xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empId" type="xs:int"/>
      <xs:element minOccurs="0" name="empName" type="xs:string"/>
      <xs:element minOccurs="0" name="salary" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
